@model MvcOnlineTicariOtomasyon.Models.Sınıflar.ToDo
@{
    ViewBag.Title = "YapilacakEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Yapılacak Sayfası</h2>
<br />

<form class="form-group" method="post">

    @Html.Label("Yapılacak")
    @Html.TextBoxFor(x => x.Yapılacak, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Yapılacak, "", new { @style = "color:red" })

    <br />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <button class="btn btn-success" id="btn1">Kaydet</button>
    <script>
        $('#btn1').click(function () {
            swal("Kayıt başarıyla yapıldı.");
        })
    </script>
</form>


