@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Güncelleme</h2>
<br />

@using (Html.BeginForm("DepartmanGuncelle", "Departman", FormMethod.Post))
{

    <div class="form-group">

        @Html.HiddenFor(x => x.Departmanid, new { @class = "form-control" })
        @Html.Label("Departman Adı")
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
    </div>
    <br />

    <td> <button class="btn btn-warning">Güncelle</button></td>


}